body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}

ul {
  list-style-type: none;
}

input {
  width: 300px;
}

.buttonAdd {
  width: 80px;
  height: 50px;
}

.addTodo {
  width: 250px;
  height: 44px;
}

textarea:focus, input:focus{
  outline: none;
}

.xButton {

  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;

}

.xPicButton {
  width: 30px;
  height: 30px;
  display: inline-block;


}

.todoP {
  width: 200px;
  height: 20px;
  display: inline-block;

}

.inputCheckbox {
  display: inline-block;

}

ul > div > li.green > p.todoP {
  text-decoration: line-through;
}

li {
  margin-left: 235px;
}

form {
  display: inline-block;

    width: 850px;
    height: 80px;
}
